.intro-section{
    margin-top: 100px;
}

.intro-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.intro-wrapper-left h1{
    font-size: 52px;
    font-weight: 700;
    color: rgba(208, 82, 112, 1);
}

.intro-wrapper-left h2{
    font-size: 52px;
    font-weight: 500;
    line-height: 63px;
    color:  rgba(66, 66, 66, 1);
}

.intro-wrapper-left p{
    width: 631px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color:  rgba(66, 66, 66, 1);
}

.buttons{
    display: flex;
    align-items: center;
    gap: 10px;
}

.twitter-btn{
    width: 201px;
    height: 60px;
    background-color: #1da1f2;
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.linkedin-btn{
    width: 201px;
    height: 60px;
    background-color: #0077b5;
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.medium-btn{
    width: 201px;
    height: 60px;
    background-color: #000;
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

button:hover{
    background-color: rgba(208, 82, 112, 1);
    color: rgba(255, 255, 255, 1);
    transition: 0.5s;
}

.all-section{
    margin-top: 100px;
}

.all-ul{
    display: flex;
    align-items: center;
    gap: 80px;
}

.all-ul a{
    text-decoration: none;
    color: rgba(66, 66, 66, 1);
    font-size: 18px;
    font-weight: 500;
}

a:hover{
    color: rgba(208, 82, 112, 1);
    text-decoration: underline;
    transition: 0.5s;
}

.cards-section{
    margin-top: 100px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card{
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    gap: 10px;
    padding: 20px;
}

